{% extends "base.html" %}

{% block title %}Upload Imagens{% endblock %}

{% block content %}

    <h1>Upload de Imagens com Coordenadas</h1>

    <form method="post" enctype="multipart/form-data">
        <div>
            <label for="latitude">Latitude:</label>
            <input type="text" id="latitude" name="latitude" required>
        </div>
        <div>
            <label for="longitude">Longitude:</label>
            <input type="text" id="longitude" name="longitude" required>
        </div>
        <div>
            <label for="imagens">Selecione as imagens:</label>
            <input type="file" id="imagens" name="imagens" multiple required>
        </div>
        <div>
            <input type="submit" value="Enviar Imagens">
        </div>
    </form>

    <div style="text-align: center; margin-bottom: 20px;">
        <a href="{{ url_for('listar_imagens') }}" style="padding: 10px 15px; background-color: #28a745; color: white; text-decoration: none; border-radius: 4px;">Ver Imagens Enviadas</a>
    </div>

    {% endblock %}