<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8">
  <title>Mapa com Esri API Key</title>
  <link rel="stylesheet" href="https://js.arcgis.com/4.29/esri/themes/light/main.css">
  <script src="https://js.arcgis.com/4.29/"></script>
  <style>
    html, body, #viewDiv {
      padding: 0;
      margin: 0;
      height: 100%;
      width: 100%;
    }
  </style>
</head>
<body>
  <div id="viewDiv"></div>
  <script>
    require([
      "esri/config",
      "esri/Map",
      "esri/views/MapView"
    ], function (esriConfig, Map, MapView) {
      
      // 🔑 Aqui você coloca sua API Key
      //esriConfig.apiKey = "AAPTxy8BH1VEsoebNVZXo8HurE4hoUU-OMpVSwatWNPhCSMDYY9It0Ciflm6zB-XquFJkC2dygVTZ3wjlilrvLayXQ2Fhwwo2hB3kF7j5BL1QxqA9iN0xnNyXc0RWKt_M94-TnYqMjvuAS-ayBwcKSu0Tn-d2vswLpV4B2tJ-OHzktJm2dmT9nM4kfva2q0QjUtI5opHQ5Tre-lTQQ4tOl0DIyNSyQFaKKX7WDdEmXxfQlg.AT1_psXfeIOC";
        esriConfig.apiKey = "AAPTxy8BH1VEsoebNVZXo8HurE4hoUU-OMpVSwatWNPhCSOtBYE7aioriafTpNqSW-0t5pws5ZuKbqs93AYo2CxFASnVIlcRXG45vqyL-78X1Aa0aYvFZmSRKkMq9rDAaujNBqVopdU-pm6AZFWt7Y2MYskPjGJd90DWBkNLCKZ61_87vwhtGQqhmRTvp_qoPmeyWBKWt8PMpduLTwFir9cpBzRUFEHQcBAW3xevj_krq1w.AT1_hswPSMbd";
      const map = new Map({
        basemap: "arcgis-imagery" // você pode mudar para "arcgis-topographic", "arcgis-imagery", etc.
      });

      const view = new MapView({
        container: "viewDiv",
        map: map,
        center: [-46.625290, -23.533773], // São Paulo
        zoom: 12
      });
    });
  </script>
</body>
</html>