<!DOCTYPE html>

<head>

    <title>Marechal Candido Rondon - Topografia </title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ol/ol.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
    

</head>
    <style>


    </style>
<body>

<div class="navbar">
  <img src="{{ url_for('static', filename='img/brasaomcr.png') }}" alt="Brasão" class="logo">
  <div class="navbar-title">Marechal Cândido Rondon</div>
  <div class="navbar-links">
    <a href="#">VISÃO 360º <sup  class="em-breve">(Em breve!)</sup></a>
    <a href="#">TOPOGRAFIA</a>
  </div>
</div>
    <!-- Painel lateral -->
  <div class="sidebar">
    <h2>Camadas</h2>
    <h2>Geral</h2>
    <select id="layersSelect1">
      {% for layer in layers_geral %}
      <option value="{{layer.name}}">{{ loop.index }} - {{layer.name }}</option>
      {% endfor %}
    </select>

    <h2>DSM</h2>
    <select id="layersSelect2">
      {% for layer in layers_dsm %}
      <option value="{{layer.name}}">{{ loop.index }} - {{layer.name }}</option>
      {% endfor %}
    </select>
    
    <h2>Ortofotos</h2>
    <select id="layersSelect3">
      {% for layer in layers_ortofoto %}
      <option value="{{layer.name}}">{{ loop.index }} - {{layer.name }}</option>
      {% endfor %}
    </select>


    <button class="collapsible" onclick="toggleCollapsible(this)">
      <span class="icon">+</span>
        Geral
    </button>
    <div class="content-selectbox">
      {% for layer in layers.MCR__Geral %}
        <input type="checkbox" id=" {{layer.1 }}" name="{{layer.0}}" value="{{layer.0}}">
        <label for="{{layer.1 }}"> {{layer.1 }}</label><br>
      {% endfor %}
    </div>


    <button class="collapsible" onclick="toggleCollapsible(this)">
      <span class="icon">+</span>
        DSM
    </button>
    <div class="content-selectbox">
      {% for layer in layers.MCR__MDS %}
        <input type="checkbox" id=" {{layer.1 }}" name="{{layer.0}}" value="{{layer.0}}">
        <label for="{{layer.1 }}"> {{layer.1 }}</label><br>
      {% endfor %}
    </div>

    
    <button class="collapsible" onclick="toggleCollapsible(this)">
      <span class="icon">+</span>
        Ortofotos
    </button>
    <div class="content-selectbox">
      {% for layer in layers.MCR__Ortofoto %}
        <input type="checkbox" id=" {{layer.1 }}" name="{{layer.0}}" value="{{layer.0}}">
        <label for="{{layer.1 }}"> {{layer.1 }}</label><br>
      {% endfor %}
    </div>

    <button class="collapsible" onclick="toggleCollapsible(this)">
      <span class="icon">+</span>
        PM - P3
    </button>
    <div class="content-selectbox">
      {% for layer in layers.Pm__P3 %}
        <input type="checkbox" id=" {{layer.1 }}" name="{{layer.0}}" value="{{layer.0}}">
        <label for="{{layer.1 }}"> {{layer.1 }}</label><br>
      {% endfor %}
    </div>

  </div>


    <div id="map" class="map"></div>

    <div class="infobloco">
      <h2>Legenda</h2>
       <div><img id="legend"/></div>
       <div id="info">&nbsp; <i>[Click sobre a camada para mais detalhes]</i></div>

    </div>


    <script>
      const appData = {
        url: "{{ url }}",
        layer: "MCR:Novo Horizonte - Ortofoto",

      };
    </script>

 


    <!-- <select id="layersSelect">
      {% for layer in layers %}
      <option value="{{layer.name}}">{{ loop.index }} - {{layer.name}}</option>
      {% endfor %}
    </select> -->

<script>


// document.addEventListener('change', function(event) {
//   if (event.target.type === 'checkbox') {
//     console.log('Checkbox alterado:', event.target);
//     console.log('ID:', event.target.id);
//     console.log('Valor:', event.target.value);
//     console.log('Marcado:', event.target.checked);
//   }
// });

function toggleCollapsible(button) {
  const icon = button.querySelector('.icon');
  const content = button.nextElementSibling;
  if (content.style.display === "block") {
    content.style.display = "none";
    icon.textContent = "+";
  } else {
    content.style.display = "block";
    icon.textContent = "-";
  }
}

</script>

</body>
</html>